@model IEnumerable<Global03AvgHourPower>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row" id="NumOne" style="display: block">
    <div class="col-md-12">
        <div class="card" style="background-color: #ffffff;">
            <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                    <i class="material-icons">device_thermostat</i>
                </div>
                <div class="row">
                    <div class="col-2">
                        <h4 class="card-title" style="font-weight:bold;color:#013d66">冰水主機001號即時資訊</h4>
                    </div>
                    <div class="col-10" style="padding-top: 10px;">
                        <ul class="nav nav-pills nav-pills-info" role="tablist">
                            <li class="nav-item">
                                <button onclick="NumOne()" class="btn btn-fill btn-sm btn-warning">冰水主機001號</button>
                            </li>
                            <li class="nav-item">
                                <button onclick="NumTwo()" class="btn btn-fill btn-sm btn-warning">冰水主機002號</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content tab-space">
                <div class="row">
                    <label class="col-md-1"></label>
                    <table class="col-md-10" style="font-weight:bold;text-align:center;color:white;font-size:large;">
                        <tr>
                            <td style="width:16%;height:40px;border-left:3px #FFD382 solid;color:#013d66;">時間</td>
                            <td colspan="3" style="width:1%;color:#013d66;">
                                <label style="font-weight: bold; text-align: center; color: #1e90ff; font-size: large; line-height: 0px; " id="Time">@ViewBag.TopData.Time</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:16%;height:40px;border-left:3px #FFD382 solid;color:#013d66;">冰水出水溫度</td>
                            <td colspan="2" style="width:16%;color:#013d66;">
                                <label style="font-weight: bold; text-align: center; color: #1e90ff; font-size: large; line-height: 0px; " id="TchIn">@ViewBag.TopData.Ch1Chwtout</label>
                            </td>
                            <td style="width:16%;color:#013d66;">°C</td>
                            <td style="width:16%;height:40px;border-left:3px #82FFFF solid;color:#013d66;">冰水回水溫度</td>
                            <td style="width:16%;color:#013d66;"><label style="font-weight: bold; text-align: center; color: #1e90ff; font-size: large; line-height: 0px; " id="TchOut">@ViewBag.TopData.Ch1Chwtin</label></td>
                            <td style="width:16%;color:#013d66;">°C</td>
                        </tr>
                        <tr>
                            <td style="width:16%;height:40px;border-left:3px #FFD382 solid;color:#013d66;">冷卻水出水溫度</td>
                            <td colspan="2" style="width:16%;color:#013d66;"><label style="font-weight: bold; text-align: center; color: #1e90ff; font-size: large; line-height: 0px; " id="Power">@ViewBag.TopData.Ch1Cwtout</label></td>
                            <td style="width:16%;color:#013d66;">°C</td>
                            <td style="width:16%;height:40px;border-left:3px #82FFFF solid;color:#013d66;">冷卻水回水溫度</td>
                            <td style="width:16%;color:#013d66;"><label style="font-weight: bold; text-align: center; color: #1e90ff; font-size: large; line-height: 0px; " id="Rt">@ViewBag.TopData.Ch1Cwtin</label></td>
                            <td style="width:16%;color:#013d66;">°C</td>
                        </tr>
                        <tr>
                            <td style="width:16%;height:40px;border-left:3px #FFD382 solid;color:#013d66;">冰水流量</td>
                            <td colspan="2" style="width:16%;color:#013d66;"><label style="font-weight: bold; text-align: center; color: #1e90ff; font-size: large; line-height: 0px; " id="Cop">@ViewBag.TopData.Ch1Chwflow</label></td>
                            <td style="width:16%;color:#013d66;">LPM</td>
                            <td style="width:16%;height:40px;border-left:3px #82FFFF solid;color:#013d66;">冷卻水水流量(共管)</td>
                            <td style="width:16%;color:#013d66;"><label style="font-weight: bold; text-align: center; color: #1e90ff; font-size: large; line-height: 0px; " id="Flow">@ViewBag.TopData.Ch1Cwflow</label></td>
                            <td style="width:16%;color:#013d66;">LPM</td>
                        </tr>
                        <tr>
                            <td style="width:16%;height:40px;border-left:3px #FFD382 solid;color:#013d66;">功率</td>
                            <td colspan="2" style="width:16%;color:#013d66;"><label style="font-weight: bold; text-align: center; color: #1e90ff; font-size: large; line-height: 0px; " id="Cop">@ViewBag.TopData.Ch1Kw</label></td>
                            <td style="width:16%;color:#013d66;">kW</td>
                            <td style="width:16%;height:40px;border-left:3px #82FFFF solid;color:#013d66;">室外空氣 - 乾球溫度</td>
                            <td style="width:16%;color:#013d66;"><label style="font-weight: bold; text-align: center; color: #1e90ff; font-size: large; line-height: 0px; " id="Flow">@ViewBag.TopData.Ch1Dbt</label></td>
                            <td style="width:16%;color:#013d66;">°C</td>
                        </tr>
                        <tr>
                            <td style="width:16%;height:40px;border-left:3px #FFD382 solid;color:#013d66;">室外空氣 - 相對濕度</td>
                            <td colspan="2" style="width:16%;color:#013d66;"><label style="font-weight: bold; text-align: center; color: #1e90ff; font-size: large; line-height: 0px; " id="Cop">@ViewBag.TopData.Ch1Rh</label></td>
                            <td style="width:16%;color:#013d66;">%</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="NumTwo" style="display: none">
    <div class="col-md-12">
        <div class="card" style="background-color: #ffffff;">
            <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                    <i class="material-icons">device_thermostat</i>
                </div>
                <div class="row">
                    <div class="col-2">
                        <h4 class="card-title" style="font-weight:bold;color:#013d66">冰水主機002號即時資訊</h4>
                    </div>
                    <div class="col-10" style="padding-top: 10px;">
                        <ul class="nav nav-pills nav-pills-info" role="tablist">
                            <li class="nav-item">
                                <button onclick="NumOne()" class="btn btn-fill btn-sm btn-warning">冰水主機001號</button>
                            </li>
                            <li class="nav-item">
                                <button onclick="NumTwo()" class="btn btn-fill btn-sm btn-warning">冰水主機002號</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content tab-space">
                <div class="row">
                    <label class="col-md-1"></label>
                    <table class="col-md-10" style="font-weight:bold;text-align:center;color:white;font-size:large;">
                        <tr>
                            <td style="width:16%;height:40px;border-left:3px #FFD382 solid;color:#013d66;">時間</td>
                            <td colspan="3" style="width:1%;color:#013d66;">
                                <label style="font-weight: bold; text-align: center; color: #1e90ff; font-size: large; line-height: 0px; " id="Time">@ViewBag.TopData.Time</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:16%;height:40px;border-left:3px #FFD382 solid;color:#013d66;">冰水出水溫度</td>
                            <td colspan="2" style="width:16%;color:#013d66;">
                                <label style="font-weight: bold; text-align: center; color: #1e90ff; font-size: large; line-height: 0px; " id="TchIn">@ViewBag.TopData.Ch2Chwtout</label>
                            </td>
                            <td style="width:16%;color:#013d66;">°C</td>
                            <td style="width:16%;height:40px;border-left:3px #82FFFF solid;color:#013d66;">冰水回水溫度</td>
                            <td style="width:16%;color:#013d66;"><label style="font-weight: bold; text-align: center; color: #1e90ff; font-size: large; line-height: 0px; " id="TchOut">@ViewBag.TopData.Ch2Chwtin</label></td>
                            <td style="width:16%;color:#013d66;">°C</td>
                        </tr>
                        <tr>
                            <td style="width:16%;height:40px;border-left:3px #FFD382 solid;color:#013d66;">冷卻水出水溫度</td>
                            <td colspan="2" style="width:16%;color:#013d66;"><label style="font-weight: bold; text-align: center; color: #1e90ff; font-size: large; line-height: 0px; " id="Power">@ViewBag.TopData.Ch2Cwtout</label></td>
                            <td style="width:16%;color:#013d66;">°C</td>
                            <td style="width:16%;height:40px;border-left:3px #82FFFF solid;color:#013d66;">冷卻水回水溫度</td>
                            <td style="width:16%;color:#013d66;"><label style="font-weight: bold; text-align: center; color: #1e90ff; font-size: large; line-height: 0px; " id="Rt">@ViewBag.TopData.Ch2Cwtin</label></td>
                            <td style="width:16%;color:#013d66;">°C</td>
                        </tr>
                        <tr>
                            <td style="width:16%;height:40px;border-left:3px #FFD382 solid;color:#013d66;">冰水流量</td>
                            <td colspan="2" style="width:16%;color:#013d66;"><label style="font-weight: bold; text-align: center; color: #1e90ff; font-size: large; line-height: 0px; " id="Cop">@ViewBag.TopData.Ch2Chwflow</label></td>
                            <td style="width:16%;color:#013d66;">LPM</td>
                            <td style="width:16%;height:40px;border-left:3px #82FFFF solid;color:#013d66;">功率</td>
                            <td style="width:16%;color:#013d66;"><label style="font-weight: bold; text-align: center; color: #1e90ff; font-size: large; line-height: 0px; " id="Cop">@ViewBag.TopData.Ch2Kw</label></td>
                            <td style="width:16%;color:#013d66;">kW</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-6 col-sm-6">
        <div class="card" style="background-color: #ffffff;">
            <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                    <i class="material-icons">flash_on</i>
                </div>
                <h4 class="card-title" style="font-weight:bold;color:#013d66">冰機冰水出水溫度(°C)</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <label class="col-md-1"></label>
                    <div class="chart-container col-md-11" id="CHTOutDiv">
                        <div id="CHTOutChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-6 col-sm-6">
        <div class="card" style="background-color: #ffffff;">
            <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                    <i class="material-icons">flash_on</i>
                </div>
                <h4 class="card-title" style="font-weight:bold;color:#013d66">
                    冰機冰水回水溫度(°C)
                </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <label class="col-md-1"></label>
                    <div class="chart-container col-md-11" id="CHTInDiv">
                        <div id="CHTInChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-6 col-sm-6">
        <div class="card" style="background-color: #ffffff;">
            <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                    <i class="material-icons">flash_on</i>
                </div>
                <h4 class="card-title" style="font-weight:bold;color:#013d66">
                    冰機冷卻水出水溫度(°C)
                </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <label class="col-md-1"></label>
                    <div class="chart-container col-md-11" id="CTTOutDiv">
                        <div id="CTTOutChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-6 col-sm-6">
        <div class="card" style="background-color: #ffffff;">
            <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                    <i class="material-icons">flash_on</i>
                </div>
                <h4 class="card-title" style="font-weight:bold;color:#013d66">冰機冷卻水回水溫度(°C)</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <label class="col-md-1"></label>
                    <div class="chart-container col-md-11" id="CTTInDiv">
                        <div id="CTTInChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-6 col-sm-6">
        <div class="card" style="background-color: #ffffff;">
            <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                    <i class="material-icons">flash_on</i>
                </div>
                <h4 class="card-title" style="font-weight:bold;color:#013d66">冰水出水流量(LPM)</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <label class="col-md-1"></label>
                    <div class="chart-container col-md-11" id="FlowDiv">
                        <div id="FlowChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-6 col-sm-6">
        <div class="card" style="background-color: #ffffff;">
            <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                    <i class="material-icons">flash_on</i>
                </div>
                <h4 class="card-title" style="font-weight:bold;color:#013d66">冰水系統01 - 冷卻水流量(共管)(LPM)</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <label class="col-md-1"></label>
                    <div class="chart-container col-md-11" id="FlowCommonDiv">
                        <div id="FlowCommonChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-6 col-sm-6">
        <div class="card" style="background-color: #ffffff;">
            <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                    <i class="material-icons">flash_on</i>
                </div>
                <h4 class="card-title" style="font-weight:bold;color:#013d66">室外空氣001 - 乾球溫度(°C)</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <label class="col-md-1"></label>
                    <div class="chart-container col-md-11" id="DBTDiv">
                        <div id="DBTChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-6 col-sm-6">
        <div class="card" style="background-color: #ffffff;">
            <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                    <i class="material-icons">flash_on</i>
                </div>
                <h4 class="card-title" style="font-weight:bold;color:#013d66">室外空氣001 - 相對濕度(%)</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <label class="col-md-1"></label>
                    <div class="chart-container col-md-11" id="RHDiv">
                        <div id="RHChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function NumOne() {
        document.getElementById("NumOne").style.display = 'block';
        document.getElementById("NumTwo").style.display = 'none';
    }
    function NumTwo() {
        document.getElementById("NumTwo").style.display = 'block';
        document.getElementById("NumOne").style.display = 'none';
    }

    // 畫圖需要用的資料
    var Time = [],
        Ch1Chwflow = [],
        Ch1Chwtout = [],
        Ch1Chwtin = [],
        Ch2Chwflow = [],
        Ch2Chwtout = [],
        Ch2Chwtin = [],
        Ch1Cwflow = [],
        Ch1Cwtout = [],
        Ch1Cwtin = [],
        Ch2Cwtout = [],
        Ch2Cwtin = [],
        Ch1Kw = [],
        Ch2Kw = [],
        Ch1Dbt = [],
        Ch1Rh = [];

    // 很多圖要畫 - array
    var ChartObject = [];

    // 畫圖 - 初始定義
    var chart;
    var create_chart = function (Yaxis_DataName, Yaxis_DataArray, title_text,
        tooltip_unit, Chart_ID, Out_Div, chart_object,
        num1Name, num1Date) {

        var low, high;
        if (Yaxis_DataName == "流量") {
            high = 15;
            low = 0.02;
        }
        else if (Yaxis_DataName == "出水溫度") {
            high = 28.5;
            low = 13;
        }
        else if (Yaxis_DataName == "耗電量") {
            high = 1.5;
            low = 0;
        }
        else if (Yaxis_DataName == "製冷噸數") {
            high = 20;
            low = 0;
        }
        else if (Yaxis_DataName == "性能係數") {
            high = 0.29;
            low = 0;
        }
        $("#" + Chart_ID).remove();
        $(Out_Div).append('<div id=' + Chart_ID + '></div>');
        var options = { // 開源apexchart
            series: [{
                name: Yaxis_DataName,
                data: Yaxis_DataArray
            }],
            annotations: {
                yaxis: [{
                    y: low,
                    borderColor: '#000000',
                    label: {
                        borderColor: '#000000',
                        style: {
                            color: '#fff',
                            background: '#000000',
                        },
                        text: '下限',
                    }
                },
                {
                    y: high,
                    borderColor: '#000000',
                    label: {
                        borderColor: '#000000',
                        style: {
                            color: '#fff',
                            background: '#000000',
                        },
                        text: '上限',
                    }
                }]
            },
            chart: {
                height: 350,
                type: 'line',
                zoom: {
                    enabled: false
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'straight'
            },
            grid: {
                row: {
                    colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                    opacity: 0.5
                },
            },
            xaxis: {
                categories: Time,
                tickAmount: 5,
                labels: {
                    rotate: 0,    //讓你的日期不再傾斜
                },
                title: {
                    text: '時間',
                    style: {
                        fontSize: '20px' //調整字體大小
                    }
                }
            },
            yaxis: {
                title: {
                    text: title_text,
                    style: {
                        fontSize: '20px' //調整字體大小
                    }
                }
            },
            legend: {
                position: 'top',
                horizontalAlign: 'right',
                floating: true
            },
            //下面這個功能可以讓你的圖上顯示數字的單位
            tooltip: {
                y: {
                    formatter: function (val) {
                        return val + tooltip_unit;
                    }
                }
            }
        };
        if (Yaxis_DataName != "冰水系統01 - 冷卻水流量(共管)" &&
            Yaxis_DataName != "冰機1號乾球溫度" &&
            Yaxis_DataName != "冰機1號相對濕度") { // series裡面有兩個data
            options.series[1] = {
                name: num1Name,
                data: num1Date
            }
        }
        chart = new ApexCharts(document.querySelector("#" + Chart_ID), options);
        chart.render();

        //畫完圖後要把chart變數放入array裡面
        ChartObject[chart_object] = chart;
    };

    @foreach (var item in Model)
    {
        DateTime dt = item.Time;
        string dt_str = dt.ToString("HH:mm");
        @:Time.push("@dt_str"); // put in array
        @:Ch1Chwflow.push(@item.Ch1Chwflow);
        @:Ch1Chwtout.push(@item.Ch1Chwtout);
        @:Ch1Chwtin.push(@item.Ch1Chwtin);
        @:Ch2Chwflow.push(@item.Ch2Chwflow);
        @:Ch2Chwtout.push(@item.Ch2Chwtout);
        @:Ch2Chwtin.push(@item.Ch2Chwtin);
        @:Ch1Cwflow.push(@item.Ch1Cwflow);
        @:Ch1Cwtout.push(@item.Ch1Cwtout);
        @:Ch1Cwtin.push(@item.Ch1Cwtin);
        @:Ch2Cwtout.push(@item.Ch2Cwtout);
        @:Ch2Cwtin.push(@item.Ch2Cwtin);
        @:Ch1Kw.push(@item.Power1);
        @:Ch2Kw.push(@item.Power2);
        @:Ch1Dbt.push(@item.Ch1Dbt);
        @:Ch1Rh.push(@item.Ch1Rh);
    }

    // 撈初始資料->畫圖
    create_chart("冰機1號冰水出水溫度", Ch1Chwtout, "冰機冰水出水溫度(°C)", " °C", "CHTOutChart", "#CHTOutDiv", 0, "冰機2號冰水出水溫度",
            Ch2Chwtout);
    create_chart("冰機1號冰水回水溫度", Ch1Chwtin, "冰機冰水回水溫度(°C)", " °C", "CHTInChart", "#CHTInDiv", 1, "冰機2號冰水回水溫度", 
        Ch2Chwtin);
    create_chart("冰機1號冷卻水出水溫度", Ch1Cwtout, "冰機冷卻水出水溫度(°C)", " °C", "CTTOutChart", "#CTTOutDiv", 2, "冰機2號冷卻水出水溫度", 
        Ch2Cwtout);
    create_chart("冰機1號冷卻水回水溫度", Ch1Cwtin, "冰機冷卻水回水溫度(°C)", " °C", "CTTInChart", "#CTTInDiv", 3, "冰機2號冷卻水回水溫度", 
        Ch2Cwtin);
    create_chart("冰機1號冰水出水流量", Ch1Chwflow, "冰水出水流量(LPM)", " LPM", "FlowChart", "#FlowDiv", 4, "冰機2號冰水出水流量", 
        Ch2Chwflow);
    create_chart("冰機1號功率", Ch1Kw, "功率(kW)", " kW", "PowerChart", "#PowerDiv", 5, "冰機2號即時用電",
        Ch2Kw);
    create_chart("冰水系統01 - 冷卻水流量(共管)", Ch1Cwflow, "冷卻水共管流量(LPM)", " LPM", "FlowCommonChart", "#FlowCommonDiv", 6, "", 
        Ch1Rh);
    create_chart("冰機1號乾球溫度", Ch1Dbt, "乾球溫度(°C)", " °C", "DBTChart", "#DBTDiv", 7, "",
        Ch1Rh);
    create_chart("冰機1號相對濕度", Ch1Rh, "相對濕度(%)", " %", "RHChart", "#RHDiv", 8, "",
        Ch1Rh);
</script>